#otsikko {
    text-align: center;
    background-color:gray;
    font-size: 500%;

}

.container-fluid {
    background-color: lightgray;
    padding-top: 5%;
    padding-bottom: 5%;
}

#kuvat {
    padding-top: 5%;
    padding-bottom: 5%;
}

.rounded-circle{
    border:1px;
    border-radius:50%;
    width: 300px;;
    height:300px;
    }

#talvi {
    padding-bottom: 5%;
}

.navbar-brand {
    padding-left: 10px;
}